<div class="container">
	<h1>Contact us</h1>

	<div class="row">
		<div class="col-sm-6">
			<p>Address: 702 Nguyen Van Linh, District 7, Hồ Chí Minh, Vietnam</p>
			<p>Phone: 0933992573</p>
		</div>
		<div class="col-sm-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15680.273074954177!2d106.694734!3d10.729218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfae94aca5709003f!2sRMIT+University+Vietnam!5e0!3m2!1sen!2s!4v1457889080206" width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
